.timer
{
  display: flex;
  flex-wrap: nowrap;
  height: 60px;
  vertical-align: middle;
  border-top: 1px solid lightgrey;
  padding: 5px;
}

.timer .duration
{
  width: 50px;
  line-height: 50px;
  text-align: center;
  border-radius: 5px;
}

.timer .name
{
  line-height: 50px;
  margin-right: auto;
  padding: 0px 10px;
}

.timer .button
{
  margin: 5px 0px;
  width: 40px;
  text-align: center;
  height: 40px;
  line-height: 50px;
  border-radius: 20px;
  border: none;
  text-decoration: none;
  background: lightgrey;
  color: white;
  cursor: pointer;
}
