<template>
  <require from="components/timeline.css"></require>

  <div id="timeline" ref="timelineElement">
    <div id="now" css="left: ${(now - today) / scale}px;"></div>
    <div id="scale" css="width: ${(now + 20*60*1000 - today) / scale}px;">
      <div class="scalemarkline" repeat.for="marker of markers" css="left: ${marker.time / scale}px; background: ${marker.color};">
        <span class="scalemarktext">${marker.text}</span>
      </div>
    </div>
    <div id="countercontainer">
        <div class="counter" repeat.for="counter of stateService.state.counters" css="left: ${(counter.start - today) / scale}px; width: ${!counter.end ? (now - counter.start) / scale + 1 : (counter.end - counter.start) / scale}px; background: ${counter.timer.color};">
          <span class="countertext">${counter.timer.name}</span>
        </div>
    </div>
  </div>
</template>
